.Main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 600px;
  height: 350px;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid black;
  border-radius: 25px;
}

.Main2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 600px;
  height: 350px;
  font-family: "Times New Roman", Times, serif;
}

.Header1 {
  color: black;
  text-align: center;
  margin-top: 50px;
}

.Isian {
  margin-left: 20px;
}

table {
  width: 65%;
  height: 45%;
  padding-bottom: 10px;
  padding-top: 5px;
}

.Table2 {
  width: 100%;
  border: 1px solid black;
}

.Table2 th {
  background-color: grey;
  border: 1px solid white;
}

.Table2 td {
  background-color: orange;
  border: 1px solid white;
}

td {
  vertical-align: bottom;
}

.TulisanKiri {
  font-weight: bold;
}

.Kirim {
  border-radius: 10px;
  padding: 3px;
}
